<div class='w-full max-h-20 px-5 lg:px-20 md:px-10 py-5 flex justify-between bg-white 2xl:max-w-[1550px] m-auto'>
    <Link href="/dashboard">
    <div class='flex'>
        <img src="/assets/logo.svg" alt="Logo" class="h-9 w-9 mr-1" />
        <h3 class='text-xl font-medium mt-1 font-inter'>Hireoop</h3>
    </div>
    </Link>
    <div class="md:hidden h-8">
        <button class="text-secondary-black focus:outline-none" id="sidemenubtn" onClick="toggleSideMenu()">
            <svg class="h-10 w-10" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 6H20M4 12H20M4 18H20" stroke="currentColor" strokeWidth="2" strokeLinecap="round"
                    strokeLinejoin="round">
                </path>
            </svg>
        </button>
    </div>
    <div class='hidden md:flex space-x-2'>
        <div class='h-8 w-8 rounded-full cursor-pointer bg-blue-600'></div>
    </div>
</div>