<div class='flex md:block w-full md:w-20 bg-white pt-5 xl:h-screen'>
    <a href='/chatbot-creation'>
      <button class='w-min md:w-full px-5 text-purple-500 py-2'>
        <img src='/assets/add_circle_icon.svg' alt=''/>
      </button>
    </a>
    <a href='/dashboard'>
      <button class='w-min md:w-full px-5 text-purple-500 py-2 md:mt-5'>
        <!-- {secondsopt ?
          (
            <>
              <img src='/assets/dashboard_icon.svg' alt=''/>
            </>
          ) :
          (
            <> -->
              <img src='/assets/dashboard_line_icon.svg' alt=''/>
            <!-- </>
          )

        } -->
      </button>
    </a>

    <a href='/jobs'>

      <button class='w-min md:w-full px-5 text-purple-500 py-2 md:mt-5'>
        <!-- {thirdopt ?
          (
            <> -->
              <img src='/assets/selected_list_schedule_icon.svg' alt=''/>

            <!-- </>
          ) :
          (
            <>
              <img src='/assets/list_schedule_icon.svg' alt=''/>

            </>
          )

        } -->
      </button>
    </a>
  </div>